<a href="https://colab.research.google.com/github/Rahul896911/20th_August_python_basics_Practice_/blob/main/20th_August_python_basics_Practice_testfile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TOPIC: String Based Assignment Problem

In [ ]:
# Q1 reverse string

def reverse_string(string):
  return string[::-1]

In [ ]:
# Q2 check if a string palindrome:

def is_palindrome(string):
  return string== string[::-1]

In [ ]:
#Q3 covert a string to uppercase

def to_uppercase(string):
  return string.upper()

In [ ]:
#Q4 convert a string to lowercase:

def to_lowercase(string):
  return string.lower()

In [ ]:
#Q5 count the number of vowels in a string :

def count_vowels(string):
  vowels = "aeiou"
  return len([char for char in string if char.lower() in vowels])

In [ ]:
#Q6 count the number of consonants in a string:

def count_consonants(string):
  consonants= "bcdfghjklmnpqrstvwxyz"
  return len([char for char in string if char.lower() in consonants])

In [ ]:
#Q7 remove all whitespaces from a string:

def remove_whitespace(string):
  return "".join(string.split())

In [ ]:
#Q8 length of the string without using the len() function:

def find_length(string):
  count = 0
  for char in string:
    count +=1
    return count

In [ ]:
#Q9 check if a string contains a specific word:

def contains_word(string,word):
  return word in string

In [ ]:
#Q10 Replace a word in a (string, old_word, new_word):

def replace_word(string, old_word, new_word):
  return string.replace(old_word, new_word)

In [ ]:
#Q11 count the occurrences of a word in a string:

def count_occurrences(string, word):
  return string.count(word)

In [ ]:
#Q12 to find the first occurence  of a word in string:

def find_first_occurence(string, word):
  return string.find(word)

In [ ]:
#Q13 to find the last occurrence of a word in a string:

def find_last_occurrence(string, word):
    return string.rfind(word)

In [ ]:
#Q14 split a string into a list of  words:

def split_string(string):
  return string.split()

In [ ]:
#Q15 To join a list of words into a string:

def join_list(list_of_words):
    return " ".join(list_of_words)

In [ ]:
#Q16 to convert a string where are separated by spaces to one where words are sperated by underscores,you can use the following python code :

string_with_spaces = "this is a string with spaces"
string_with_underscores = string_with_spaces.replace(" ","_")

In [ ]:
#Q17 to check if a string starts with a specific word or phrase,you canuse the startswith() method in python.Here's an example:

string = "hello world"
if string.startswith("hello"):
  print("The string starts with 'hello'")

The string starts with 'hello'

In [ ]:
#Q18 to check if string ends with a specific word or phrase,you can use endswith() method in python.here's an example:

string = "hello world"
if string.endswith("world"):
   print("The string ends with 'world'")

The string ends with 'world'

In [ ]:
#Q19 to convert a string to title case(e.g.,"hello world" to "Hello world"),you can use the title() method in python.Here's an example:

string ="hello world"
title_case_string = string.title()
print(title_case_string)

Hello World

In [ ]:
#Q20 to find the longest word in a string,you can split the string into words and then use the max() function in python.Here's an example:

string = "the quick brown fox jumps over the lazy dog"
longest_word = max(string.split(), key=len)
print(longest_word)

quick

In [ ]:
#Q21 to find the shortest word in a string,you can split the string into words and then use the min() function in python.Here's an example:

string = "the quick brown fox jumps over the lazy dog"
shortest_word = min(string.split(), key=len)
print(shortest_word)

the

In [ ]:
#Q22 to reverse the order of words in a string,you can split the string into words,reverse the order of the resulting list,and then join the list back into a string.Here's an example:

string = "the quick brown fox jumps over the lazy dog"
reversed_string = " ".join(string.split()[::-1])
print(reversed_string)

dog lazy the over jumps fox brown quick the

In [ ]:
#Q23 to check if a string is alphanumeric,you can use the isalnum() method in python.Here's an example:

string = "abc123"
if string.isalnum():
  print("The string is alphanumeric")

The string is alphanumeric

In [ ]:
#Q24 To extract all digits from a string , you can use regular expressions in python .Here's an example:

import re

string="abc123def456"
digits  = re.findall(r'\d+' , string)
print(digits)

['123', '456']

In [ ]:
#Q25 To extract all alphabets from a string , you can use regular expressions in python .Here's an example:

import re

string="abc123def456"
alphabets  = re.findall(r'[a-zA-Z]+' , string)
print(alphabets)

['abc', 'def']

In [ ]:
#Q26 To count the number of uppercase letters in string , you can use a loop and the isupper() method in python.Here's an example :

string = "Hello World"

count = 0
for char in string:
   if char.isupper():
    count += 1
print(count)

2

In [ ]:
#Q27 To count the number of lowercase letters in string , you can use a loop and the islower() method in python.Here's an example :

string = "Hello World"

count = 0
for char in string:
   if char.islower():
    count += 1
print(count)

8

In [ ]:
#Q28 To swap the case of each character in a string, you can use the swapcase() method in python.Here's an example

string = "Hello World"
swapped_case_string = string.swapcase()
print(swapped_case_string)

hELLO wORLD

In [ ]:
#Q29 To remove a specific word from a string,you can use the replace() method in python.Here's an example:

string_with_word_to_remove = "this is a sentence with a word to remove"
word_to_remove ="remove"
new_string = string_with_word_to_remove.replace(word_to_remove, "")
print(new_string)

this is a sentence with a word to

In [ ]:
#Q30 To check if a string is a valid email address, we can use regular expressions in Python. Here’s an example:

import re

email_address = "example@example.com"
if re.match(r"[^@]+@[^@]+\.[^@]+", email_address):
    print("The email address is valid")

The email address is valid

In [ ]:
#Q31 To extract the username from an email address string, you can use the following code snippet in Python:
email = "example@domain.com"
username = email.split("@")[0]

In [ ]:
#Q32 To extract the domain name from an email address string, we can use the following code snippet in Python:
email = "example@domain.com"
domain = email.split("@")[1]

In [ ]:
#Q33 To replace multiple spaces in a string with a single space, we can use the following code snippet in Python:

string = "This    is    a    string    with    multiple    spaces."
string = " ".join(string.split())

In [ ]:
#Q34 To check if a string is a valid URL,you can use the following code snippet in Python:

import re

url = "https://www.example.com"
pattern = re.compile(r"https?://(?:[-\w.]|(?:%[\da-fA-F]{2}))+")

if pattern.match(url):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

In [ ]:
#Q35 To extract the protocol (http or https) from a URL string,we can use the following code snippet in PYthon:

from urllib.parse import urlparse

url = "https://www.example.com"
protocol = urlparse(url).scheme

In [ ]:
#Q36 To find the frequency of each character in astring,we can use the following code snippet in Python:

string = "This is a sample string."
freq = {}

for char in string:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)

{'T': 1, 'h': 1, 'i': 3, 's': 4, ' ': 4, 'a': 2, 'm': 1, 'p': 1, 'l': 1, 'e': 1, 't': 1, 'r': 1, 'n': 1, 'g': 1, '.': 1}

In [ ]:
#Q37 To remove all punctuation from string,we can use the following code snippet in python:

import string

string_with_punctuations = "This! is? a; sample: string."
string_without_punctuations = string_with_punctuations.translate(str.maketrans("", "", string.punctuation))

In [ ]:
#Q38 To check if a string contains only digits,we can use the following code snippet Python:

string = "12345"

if string.isdigit():
    print("String contains only digits")
else:
    print("String does not contain only digits")

String contains only digits

In [ ]:
#Q39 To check if a string contains only alphabets,we can use the followinh code snippet in Python:

string = "abcd"

if string.isalpha():
    print("String contains only alphabets")
else:
    print("String does not contain only alphabets")

String contains only alphabets

In [ ]:
#Q40 To covert a string to a list of characters, we can use the following code snippet in Python:

string = "This is a sample string."
char_list = list(string)

In [ ]:
#Q41 To check if two strings are anagrams,we can use the following code snippet in Pythom:

str1 = "listen"
str2 = "silent"

if sorted(str1) == sorted(str2):
    print("Strings are anagrams")
else:
    print("Strings are not anagrams")

Strings are anagrams

In [ ]:
#Q42 To encode a string using caesar cipher,you can use the following code snippet in Python:

def caesar_cipher_encode(string: str, shift: int) -> str:
    encoded_string = ""
    for char in string:
        if char.isalpha():
            shifted_char = chr((ord(char) + shift - 65) % 26 + 65)
            encoded_string += shifted_char
        else:
            encoded_string += char
    return encoded_string

string = "HELLO WORLD"
shift = 3
encoded_string = caesar_cipher_encode(string, shift)
print(encoded_string)

KHOOR ZRUOG

In [ ]:
#Q43 To decode a caesar cipher encoded string,we can use the following code snippet in Python:

def caesar_cipher_decode(string: str, shift: int) -> str:
    decoded_string = ""
    for char in string:
        if char.isalpha():
            shifted_char = chr((ord(char) - shift - 65) % 26 + 65)
            decoded_string += shifted_char
        else:
            decoded_string += char
    return decoded_string

string = "KHOOR ZRUOG"
shift = 3
decoded_string = caesar_cipher_decode(string, shift)
print(decoded_string)

HELLO WORLD

In [ ]:
#Q44 To find the most frequent word in a string, you can use the following code snippet in Python:

from collections import Counter

string = "This is a sample string with repeated words. This is a sample."
words = string.split()
word_counts = Counter(words)
most_frequent_word = word_counts.most_common(1)[0][0]
print(most_frequent_word)

This

In [ ]:
#Q45 To find all unique words in a string, you can use the following code snippet in Python:

string = "This is a sample string with repeated words. This is a sample."
words = set(string.split())
unique_words = list(words)
print(unique_words)

['sample.', 'string', 'with', 'is', 'words.', 'This', 'sample', 'a', 'repeated']

In [ ]:
#Q46 To count the number of the syllables in a string,you can use the following code snippet in python:

import nltk

nltk.download('cmudict')

 def count_syllables(word: str) ->  int:
     d = nltk.corpus.cmudict.dict()
     return [len(list(y for y in x if y[-1].isdigit())) for x in
d[word.lower()]][0]

string = "This is a sample sentence."
syllable_count = sum(count_syllables(word) for word in string.split())
print(syllable_count)

IndentationError: ignored

In [ ]:
#Q47 To check if a string contains any special characters,you can use the following code snippet in Python:

import re

string = "This is a sample sentence with special characters like @ and #."
pattern = re.compile('[^a-zA-Z0-9 ]')
if pattern.search(string):
    print("String contains special characters")
else:
    print("String does not contain special characters")

String contains special characters

In [ ]:
#Q48 To remove the nth word from a string,you can use the following code snippet in Python:

def remove_nth_word(string: str, n: int) -> str:
    words = string.split()
    del words[n-1]
    return " ".join(words)

string = "This is a sample sentence."
n = 3
new_string = remove_nth_word(string, n)
print(new_string)

This is sample sentence.

In [ ]:
#Q49 To insert a word at the nth position in a string, you can use the following code snippet in Python:

def insert_word(string: str, word: str, n: int) -> str:
    return string[:n] + word + string[n:]

string = "This is a sample sentence."
word = "new"
n = 10
new_string = insert_word(string, word, n)
print(new_string)

This is a newsample sentence.

In [ ]:
#Q50 To covert a CSV string to a lists,we can use the following code snippet in python:

csv_string = "1,2,3\n4,5,6\n7,8,9"
list_of_lists = [row.split(",") for row in csv_string.split("\n")]
print(list_of_lists)

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

List Based Practice Problem :

In [ ]:
#Q1 to createa list with integers from 1 to 10:
my_list = list(range(1, 11))

In [ ]:
#Q2 To find the length of a list without using the len() function:

my_list = [1, 2, 3, 4, 5]
count = 0
for _ in my_list:
    count += 1
print(count)

5

In [ ]:
#Q3 Append an elements to the end of a list:

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
#Q4 Insert an elemnts at a specific index in  list:

my_list = [1, 2, 3]
my_list.insert(1, "new_element")
print(my_list)

[1, 'new_element', 2, 3]

In [ ]:
#Q5 Remove an elements from a list by its value:

my_list = [1, 2, 3]
my_list.remove(2)
print(my_list)

[1, 3]

In [ ]:
#Q7 check if an element  exists in a list:

my_list = [1, 2, 3]
if 2 in my_list:
    print("Element exists in the list")
else:
    print("Element does not exist in the list")

Element exists in the list

In [ ]:
#Q8 Find the index of the first occurence of an element in a list:
my_list = [1, 2, 3]
index = my_list.index(2)
print(index)

1

In [ ]:
#Q9 count the occurrences of an element in a list:

my_list = [1, 2, 3, 2]
count = my_list.count(2)
print(count)

2

In [ ]:
#Q10 Reverse the order of elements in a list:

my_list = [1, 2, 3]
my_list.reverse()
print(my_list)

[3, 2, 1]

In [ ]:
#Q11 sort a list in ascending order:

my_list = [3, 1, 2]
my_list.sort()
print(my_list)

[1, 2, 3]

In [ ]:
#Q12 sort a list in descending order:
my_list = [3, 1, 2]
my_list.sort(reverse=True)
print(my_list)

[3, 2, 1]

In [ ]:
#Q13  TO create a list of even numbers from 1 to 20:

even_numbers = [i for i in range(1,21) if i%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Q14 to create a list of odd numbers from 1 to 20:

odd_numbers = [i for i in range(1,21) if i%2!=0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#Q15 To find the sum of all elements in a list:

my_list = [1, 2, 3]
sum_of_elements = sum(my_list)
print(sum_of_elements)

6

In [ ]:
#Q16 To find the maximum value in a list :

my_list = [1, 2, 3]
max_value = max(my_list)
print(max_value)

3

In [ ]:
#Q17 TO find maximum value in a list :

my_list = [1, 2, 3]
max_value = max(my_list)
print(max_value)

3

In [ ]:
#Q18 create a list of squares fo numbers from 1 to 10:

squares_of_numbers = [i**2 for i in range(1,11)]
print(squares_of_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Q19 Create a list of random numbers:

import random

random_numbers = []
for i in range(10):
    random_numbers.append(random.randint(0,100))

print(random_numbers)

[64, 97, 52, 95, 32, 11, 81, 9, 67, 68]

In [ ]:
#Q19 create a list of random numbers:

import random

random_numbers = []
for i in range(10):
    random_numbers.append(random.randint(0,100))

print(random_numbers)

[83, 8, 70, 31, 80, 58, 49, 94, 60, 24]

In [ ]:
#Q20 Remove dublicates from a list :

my_list = [1,2,3,4,5,5]
unique_elements = []
for i in my_list:
    if i not in unique_elements:
        unique_elements.append(i)

print(unique_elements)

[1, 2, 3, 4, 5]

In [ ]:
#Q21 Find the common elements between two lists:

list_1 = [1,2,3]
list_2 = [3,4]

common_elements = []
for i in list_1:
    if i in list_2 and i not in common_elements:
        common_elements.append(i)

print(common_elements)

[3]

In [ ]:
#Q22 Find the difference between two list:

list_1 = [1, 2, 3]
list_2 = [3, 4]

difference_between_lists = []
for i in list_1:
    if i not in list_2 and i not in difference_between_lists:
        difference_between_lists.append(i)

for j in list_2:
    if j not in list_1 and j not in difference_between_lists:
        difference_between_lists.append(j)

print(difference_between_lists)

[1, 2, 4]

In [ ]:
#Q23 Merge two lists:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]

merged_list = list_1 + list_2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Q24 Multiply all elements in a list by 2:
my_list = [1, 2, 3]
multiplied_list = [i*2 for i in my_list]
print(multiplied_list)

[2, 4, 6]

In [ ]:
#Q25 Filter out all even numbers from a list :
my_list = [1, 2, 3, 4, 5]
filtered_list = [i for i in my_list if i%2!=0]
print(filtered_list)

[1, 3, 5]

In [ ]:
#Q26 Convert a list of strings to a list of integers:

my_list = ["1", "2", "3"]
int_list = [int(i) for i in my_list]
print(int_list)

[1, 2, 3]

In [ ]:
#Q27 Convert a list of integers to a strings:
my_list = [1, 2, 3]
str_list = [str(i) for i in my_list]
print(str_list)

['1', '2', '3']

In [ ]:
#Q28 Flatten a nested list:

nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = [j for i in nested_list for j in i]
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Q29 Create a list of the first 10 Fibonacci numbers:

fibonacci_list = [0, 1]
for i in range(2, 10):
    fibonacci_list.append(fibonacci_list[i-1] + fibonacci_list[i-2])

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#Q30 Check if a list is sorted:

my_list = [1, 2, 3]
if my_list == sorted(my_list):
    print("List is sorted")
else:
    print("List is not sorted")

List is sorted

In [ ]:
#Q31 Rotate a list to the left by n position:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = my_list[n:] + my_list[:n]
print(rotated_list)

[3, 4, 5, 1, 2]

In [ ]:
#Q32 Rotate a list to the right by n positions:

my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = my_list[-n:] + my_list[:-n]
print(rotated_list)

[4, 5, 1, 2, 3]

In [ ]:
#Q33 Create a list of prime numbers up to 50:
prime_numbers = []
for i in range(2, 51):
    is_prime = True
    for j in range(2, i):
        if i%j == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(i)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#Q34 Split a list into chunks of size n:

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3
chunks = [my_list[i:i+n] for i in range(0, len(my_list), n)]
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#Q35 Find the second largest numbers in a list:
my_list = [1, 2, 3, 4, 5]
my_list.sort()
second_largest = my_list[-2]
print(second_largest)

4

In [ ]:
#Q36 Replace every element in a list with its square:
my_list = [1, 2, 3]
squared_list = [i**2 for i in my_list]
print(squared_list)

[1, 4, 9]

In [ ]:
#Q37 Covert a list to a  dictionary where list elements become keys and their indices become values:
my_list = ["apple", "banana", "cherry"]
my_dict = {my_list[i]: i for i in range(len(my_list))}
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2}

In [ ]:
#Q38 shuffle the elements of a list randomly:

import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[3, 2, 1, 5, 4]

In [ ]:
#Q39 create a list of the 10 factorial numbers:

factorial_list = []
for i in range(1, 11):
    factorial = 1
    for j in range(1, i+1):
        factorial *= j
    factorial_list.append(factorial)

print(factorial_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
#Q40 check if two lists have at least one elements in common:

list_1 = [1, 2, 3]
list_2 = [3, 4]

common_elements = []
for i in list_1:
    if i in list_2 and i not in common_elements:
        common_elements.append(i)

if common_elements:
    print("The two lists have at least one common element")
else:
    print("The two lists do not have any common elements")

The two lists have at least one common element

In [ ]:
#Q41 Remove all elements from a list:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)

[]

In [ ]:
#Q42 Replace negative numbers in a list with 0:

my_list = [1, -2, 3, -4, 5]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print(my_list)

[1, 0, 3, 0, 5]

In [ ]:
#Q43 convert a string into a list of words:

my_string = "Hello, how are you?"
word_list = my_string.split()
print(word_list)

['Hello,', 'how', 'are', 'you?']

In [ ]:
#Q44 covert a list of words into a string :

word_list = ["Hello,", "how", "are", "you?"]
my_string = " ".join(word_list)
print(my_string)

Hello, how are you?

In [ ]:
#Q45 Create a list of the first n powers of 2:

n = 5
powers_of_two = [2**i for i in range(n)]
print(powers_of_two)

[1, 2, 4, 8, 16]

In [ ]:
#Q46 Find the longest string in a list of strings:

string_list = ["apple", "banana", "cherry"]
longest_string = max(string_list, key=len)
print(longest_string)

banana

In [ ]:
#Q47 Find the shortest string in a list of strings:

string_list = ["apple", "banana", "cherry"]
shortest_string = min(string_list, key=len)
print(shortest_string)

apple

In [ ]:
#Q48 create a list of the first n triangular numbers:

n = 5
triangular_numbers = [i*(i+1)//2 for i in range(1, n+1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

In [ ]:
#Q49 check if a list contains another list as a subsequence:

list_1 = [1, 2, 3, 4, 5]
list_2 = [2, 3]

if all(x in list_1 for x in list_2):
    print("List 2 is a subsequence of List 1")
else:
    print("List 2 is not a subsequence of List 1")

List 2 is a subsequence of List 1

In [ ]:
#Q50 swap two elements in a list by their indices :

my_list = [1, 2, 3, 4, 5]
index_1 = 1
index_2 = 3
my_list[index_1], my_list[index_2] = my_list[index_2], my_list[index_1]
print(my_list)

[1, 4, 3, 2, 5]

Tuple Based Practice Problem

In [ ]:
#Q1 create a tuple with integers from 1 to 5:

my_tuple = (1, 2, 3, 4, 5)

In [ ]:
#Q2 Access the third elements of a tuple:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

In [ ]:
#Q3 Find the length of a tuple without using the len() function:

my_tuple = (1, 2, 3, 4, 5)
count = 0
for _ in my_tuple:
    count += 1
print(count)

5

In [ ]:
#Q4 count the occurences of an element in a tuple:
my_tuple = (1, 2, 3, 2)
count = my_tuple.count(2)
print(count)

2

In [ ]:
#Q5 Find the index of the first occurrences of an elements in a tuple:

my_tuple = (1, 2, 3)
index = my_tuple.index(2)
print(index)

1

In [ ]:
#Q6 check if an elements exists in a tuple :

my_tuple = (1, 2, 3)
if 2 in my_tuple:
    print("Element exists in the tuple")
else:
    print("Element does not exist in the tuple")

Element exists in the tuple

In [ ]:
#Q7 covert a tuple to a list:

 my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)

IndentationError: ignored

In [ ]:
#Q8 covert a list to a tuple :

my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

In [ ]:
#Q9 Unpack the elements of a tuple into variables:

my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [ ]:
#Q10 create a tuple  of even numbers from 1 to  10 :

even_numbers = tuple(i for i in range(1,11) if i%2==0)
print(even_numbers)

(2, 4, 6, 8, 10)

In [ ]:
#Q11 Create a tuple of odd numbers from 1 to 10:

odd_numbers = tuple(i for i in range(1,11) if i%2!=0)
print(odd_numbers)

(1, 3, 5, 7, 9)

In [ ]:
#Q12 concatenate two tuples:

tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)
concatenated_tuple = tuple_1 + tuple_2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
#Q13 Repeat a tuple three times :

my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#Q14 check if a tuple is empty:

my_tuple = ()
if not my_tuple:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

In [ ]:
#Q15 Create  a nested tuple:
my_tuple = ((1, 2), (3, 4))
print(my_tuple)

((1, 2), (3, 4))

In [ ]:
#Q16 Access the first elements of a nested tuple:
my_tuple = ((1, 2), (3, 4))
first_element = my_tuple[0][0]
print(first_element)

1

In [ ]:
#Q17 create a tuple with a single  element:
my_tuple = (1,)
print(my_tuple)
-+

(1,)

In [ ]:
#Q18 compare two tuples:
tuple_1 = (1, 2, 3)
tuple_2 = (1, 2, 3)
if tuple_1 == tuple_2:
    print("The two tuples are equal")
else:
    print("The two tuples are not equal")

The two tuples are equal

In [ ]:
#Q19 Delete a tuple:
my_tuple = (1, 2, 3)
del my_tuple

In [ ]:
#Q20 slice a tuple:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]
print(sliced_tuple)

(2, 3, 4)

In [ ]:
#Q21 Find the maximum value in a tuple:

my_tuple = (1, 2, 3)
max_value = max(my_tuple)
print(max_value)

3

In [ ]:
#Q22 Find the minimum value in a tuple:
my_tuple = (1, 2, 3)
min_value = min(my_tuple)
print(min_value)

1

In [ ]:
#Q23 Convert a string to a tuple of characters:
my_string = "hello"
char_tuple = tuple(my_string)
print(char_tuple)

('h', 'e', 'l', 'l', 'o')

In [ ]:
#Q24 Converts a tuple of characters to a string:

char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)
print(my_string)

hello

In [ ]:
#Q25 create a tuple from multiple data types:
my_tuple = (1, "hello", 3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [ ]:
#Q26 check if two tuples are identical:
tuple_1 = (1, 2, 3)
tuple_2 = (1, 2, 3)
if tuple_1 == tuple_2:
    print("The two tuples are identical")
else:
    print("The two tuples are not identical")

The two tuples are identical

In [ ]:
#Q27 sort the elements of a tuple:
my_tuple = (3, 1, 2)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3)

In [ ]:
#Q28 convert a tuple of integers to a tuple of strings:
my_tuple = (1, 2, 3)
str_tuple = tuple(str(i) for i in my_tuple)
print(str_tuple)

('1', '2', '3')

In [ ]:
#Q29 convert a tuple of strings to a tuple of integers:
my_tuple = ("1", "2", "3")
int_tuple = tuple(int(i) for i in my_tuple)
print(int_tuple)

(1, 2, 3)

In [ ]:
#Q30 Merge two tuples:
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)
merged_tuple = tuple_1 + tuple_2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
#Q31 Flatten a nested tuple:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(j for i in nested_tuple for j in i)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
#Q32 create a tuple of the first 5 prime numbers:
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

In [ ]:
#Q33 check if a tuple is a palindrome:
my_tuple = (1, 2, 3, 2, 1)
if my_tuple == my_tuple[::-1]:
    print("The tuple is a palindrome")
else:
    print("The tuple is not a palindrome")

The tuple is a palindrome

In [ ]:
#Q34 create a tuple of squares of numbers from 1 to 5:
squares_tuple = tuple(i**2 for i in range(1,6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [ ]:
#Q35 Filter out all even numbers from a tuple :
my_tuple = (1, 2, 3, 4, 5)
filtered_tuple = tuple(i for i in my_tuple if i%2!=0)
print(filtered_tuple)

(1, 3, 5)

In [ ]:
#Q36 Multiply all elements in a tuple by 2:
my_tuple = (1, 2, 3)
multiplied_tuple = tuple(i*2 for i in my_tuple)
print(multiplied_tuple)

(2, 4, 6)

In [ ]:
#Q37 Create a tuple of random numbers:
import random

random_tuple = tuple(random.randint(0, 100) for _ in range(5))
print(random_tuple)

(63, 96, 78, 16, 65)

In [ ]:
#Q38 check if a tuple is sorted:
my_tuple = (1, 2, 3)
if my_tuple == tuple(sorted(my_tuple)):
    print("Tuple is sorted")
else:
    print("Tuple is not sorted")

Tuple is sorted

In [ ]:
#Q39 Rotate a tuple to the left by n position:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [ ]:
#Q40 Rotate a tuple to the right by n position:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [ ]:
#Q41 Create a tuple of the firt 5 fibonacci numbers :
fibonacci_tuple = (0, 1)
for i in range(2, 5):
    fibonacci_tuple += (fibonacci_tuple[i-1] + fibonacci_tuple[i-2],)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
#Q42 Swap two elements in a tuple:

my_tuple = (1, 2, 3, 4, 5)
index_1 = 1
index_2 = 3
my_list = list(my_tuple)
my_list[index_1], my_list[index_2] = my_list[index_2], my_list[index_1]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 4, 3, 2, 5)

In [ ]:
#Q43 swap two elements in a tuple:
my_tuple = (1, 2, 3, 4, 5)
index_1 = 1
index_2 = 3
my_list = list(my_tuple)
my_list[index_1], my_list[index_2] = my_list[index_2], my_list[index_1]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 4, 3, 2, 5)

In [ ]:
#Q44 Reverse the elements of a tuple:
my_tuple = (1, 2, 3)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(3, 2, 1)

In [ ]:
#Q45 Create a tuple of the first n powers of 2:
n = 5
powers_of_two = tuple(2**i for i in range(n))
print(powers_of_two)

(1, 2, 4, 8, 16)

In [ ]:
#Q46 Find the longest string in a tuple of string :
string_tuple = ("apple", "banana", "cherry")
longest_string = max(string_tuple, key=len)
print(longest_string)

banana

In [ ]:
#Q47 Find the shortest string in a tuple of strings:
string_tuple = ("apple", "banana", "cherry")
shortest_string = min(string_tuple, key=len)
print(shortest_string)

apple

In [ ]:
#Q48 Create a tuple of the first n triangular numbers:
n = 5
triangular_numbers = tuple(i*(i+1)//2 for i in range(1, n+1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

In [ ]:
#Q49 check if a tuple contains another tuple as a subsequence:
tuple_1 = (1, 2, 3, 4, 5)
tuple_2 = (2, 3)

if all(x in tuple_1 for x in tuple_2):
    print("Tuple 2 is a subsequence of Tuple 1")
else:
    print("Tuple 2 is not a subsequence of Tuple 1")

Tuple 2 is a subsequence of Tuple 1

In [ ]:
#Q50 Create a tuple of alternating 1s and 0s of length n:
n = 5
alternating_tuple = tuple((i+1)%2 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1)

Set Based Practice Problem :

In [1]:
#Q1 create a set with integers from 1 to 5:
set1 = {1, 2, 3, 4, 5}

In [2]:
#Q2 Add an element to a set.
set1.add(6)

In [3]:
#Q3 Remove an element from a set:
set1.remove(3)

In [4]:
#Q4 check if an element exists in a set:
if 3 in set1:
    print("3 exists in set1")
else:
    print("3 does not exist in set1")

3 does not exist in set1

In [5]:
#Q5  Find the length of a set without using  the len() function.
count = 0
for _ in set1:
    count += 1
print(count)

5

In [6]:
#Q6 clear all elements from a set:
set1.clear()

In [7]:
#Q7 create a set of even numbers from 1 to 10.
set2 = {2, 4, 6, 8, 10}

In [8]:
#Q8 create a set of odd numbers from 1 to 10:
set3 = {1, 3, 5, 7, 9}

In [9]:
#Q9 find the union of two sets:
set4 = set2.union(set3)

In [10]:
#Q10 find the intersection of two sets:
set5 = set2.intersection(set3)

In [11]:
#Q11 Find the difference between two sets:
set6 = set2.difference(set3)

In [12]:
#Q12 check if a set is a subset of another set:
if set2.issubset(set4):
    print("set2 is a subset of set4")
else:
    print("set2 is not a subset of set4")

set2 is a subset of set4

In [13]:
#Q13 check if a set a superset of another set:
if set4.issuperset(set2):
    print("set4 is a superset of set2")
else:
    print("set4 is not a superset of set2")

set4 is a superset of set2

In [14]:
#Q14 create a set from a list :
list1 = [1, 2, 3, 4, 5]
set7 = set(list1)

In [15]:
#Q15 COnvert a set to a list :
list2 = list(set7)

In [16]:
#Q16 Remove a random element from a set:
set7.pop()

1

In [17]:
#Q17 Pop an element from a set:
set7.pop()

2

In [18]:
#Q18 check if two sets have no elements in common:
if set2.isdisjoint(set3):
    print("set2 and set3 have no elements in common")
else:
    print("set2 and set3 have elements in common")

set2 and set3 have no elements in common

In [19]:
#Q19 Find the synmmetric difference between two sets:
set8 = set2.symmetric_difference(set3)

In [20]:
#Q20 Update a set with elements from another set:
set2.update(set3)

In [21]:
#Q21 create a set with the first 5 prime numbers:
set1 = {2, 3, 5, 7, 11}

In [31]:
#Q22 check if two sets are identical:
set1 = {2, 3, 5, 7, 11 }
set2 = {11, 2, 5, 3, 7 }

 if set1 == set2:
      print("The two sets are identical.")
else:
      print("The two sets are not identical.")

IndentationError: ignored

In [34]:
#Q23 create a frozen set.

frozenset1 = frozenset(set1)

In [35]:
#Q24 check if a set is disjoin with another set.
set4 = {1, 4, 6, 8, 9}
if set1.isdisjoint(set4):
    print("set1 and set4 have no elements in common")
else:
    print("set1 and set4 have elements in common")

set1 and set4 have no elements in common

In [36]:
#Q25 create a set of squares of numbers from 1 to 5:
set5 = {x**2 for x in range(1, 6)}

In [37]:
#Q26 filter out all even numbers from a set :
set6 = {x for x in set5 if x % 2 != 0}

In [38]:
#Q27 MUltiply all elements in a set by 2.
set7 = {x*2 for x in set1}

In [39]:
#Q28 create a set of random numbers .
import random
set8 = {random.randint(1, 100) for _ in range(10)}

In [40]:
#Q29 check if a set is empty.
if not set8:
    print("set8 is empty")
else:
    print("set8 is not empty")

set8 is not empty

In [41]:
#Q30 create a nested set (hint:use frozenset).
set9 = {frozenset({1, 2}), frozenset({3, 4})}

In [42]:
#Q31 Remove an element from a set using the discard method.
set1.discard(11)

In [44]:
#Q32 Compare two sets.
set1 = {2, 3, 5, 7, 11}
set2 = {11, 2, 5, 3, 7}

if set1 == set2:
    print("The two sets are identical.")
else:
    print("The two sets are not identical.")

The two sets are identical.

In [45]:
#Q33 Create a set  from a string .
string1 = "hello"
set11 = set(string1)

In [47]:
#Q34 Covert a set of strings to a set of integers.
set12 = {"1", "2", "3", "4", "5"}
set13 = {int(x) for x in set12}

In [48]:
#Q35 convert a set of integers to a set of strings.

set14 = {str(x) for x in set13}

In [49]:
#Q36 create a set of tuple:
tuple1 = (1, 2, 3, 4, 5)
set15 = set(tuple1)

In [51]:
#Q37 convert a set to a tuple.
set1 = {1, 2, 3, 4, 5}
tuple1 = tuple(set1)

In [52]:
#Q38 Find the maximum value in a set.
max_value = max(set1)

In [53]:
#Q39 Find the minimum value in a set.
min_value = min(set1)

In [57]:
#Q40 create a set from user input .
set16 = set(input("Enter a set of numbers separated by commas: ").split(","))

Enter a set of numbers separated by commas: 2,3,3

In [58]:
#Q41 check if the intersection of two sets is empty.
set17 = {1, 2, 3}
set18 = {4, 5, 6}
if set17.isdisjoint(set18):
    print("set17 and set18 have no elements in common")
else:
    print("set17 and set18 have elements in common")

set17 and set18 have no elements in common

In [59]:
#Q42 create a set of the first 5 fibonacci numbers.
set19 = {1, 1, 2, 3, 5}

In [60]:
#Q43 Remove duplicates from  a list using sets :
list1 = [1, 2, 3, 2, 4, 5, 3]
set20 = set(list1)

In [62]:
#Q44 Check if two sets have the same elements , regardless of their count.
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The two sets have the same elements, regardless of their count.")
else:
    print("The two sets do not have the same elements, regardless of their count.")

The two sets have the same elements, regardless of their count.

In [63]:
#Q45 Create a set of the first n powers of 2:
n = 5
set1 = {2**i for i in range(n)}

In [66]:
#Q46 To find the common elements between a set and a list.
set1 = {1, 2, 3, 4, 5}
list1 = [3, 4, 5, 6, 7]
set2 = set(list1)
common_elements = set1.intersection(set2)

In [67]:
#Q47 Create a set of the first n triangular numbers.
n = 5
set5 = {i*(i+1)//2 for i in range(1, n+1)}

In [68]:
#Q48 check  if a set contains another set as a subset.
set6 = {1, 2, 3, 4, 5}
set7 = {2, 4}
if set7.issubset(set6):
    print("set7 is a subset of set6")
else:
    print("set7 is not a subset of set6")

set7 is a subset of set6

In [69]:
#Q49 Create a set of alternating 1s and 0s of length n.
n = 5
set8 = {i%2 for i in range(n)}

In [70]:
#Q50 Merge multiple sets into one.
set9 = {1, 2, 3}
set10 = {3, 4, 5}
set11 = {5, 6, 7}
set12 = set9.union(set10, set11)